$header-height: 50px;
$body-height:   calc(100vh - #{$header-height});

$body-spacing: 1rem;

body {
  -webkit-font-smoothing: antialiased;
}

@import "reset";

@import "modules/sitewide-header";
@import "modules/flex-body";
@import "modules/buttons";