// @media #{$information-phone} {
//   background: red;
// }

body {
  font-smoothing: antialiased;
  font-size: 15px;
}
html {
  position: relative;;
}

html,body {
  overflow-x: hidden;
  width:100%;
  max-width: 100vw;
  position: relative;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.mask {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(white, .5);
  z-index: 9;
}

@import "reset";
@import "variables";
@import "utils";

@import "modules/sitewide-header";
@import "modules/flex-body";
@import "modules/buttons";
@import "modules/crads";
@import "modules/crads-form";
@import "modules/panels";