.nav-to {
  padding: 1rem;
  display: flex;
}

.button.center, .icon.center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.edit-button {
  font-size: 1rem!important;
  vertical-align: text-top!important;
  // float: right;
}

.homepage .button.inverted.ui.large {
  display: block;
  margin-right: 0px;
}

.vertical-space {
  margin: 2rem inherit;
}