.ui.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  @include respond-to(mobile) { justify-content: center; }
  > .crad.card {
    // width: calc(50% - .5em);
    flex: 1 0 auto;
    max-width: 250px;
    margin-left:0px;
    position: relative;
    .content {
      margin-bottom: 40px;
    }
    .extra.content {
      position: absolute;
      bottom: 0px;
      top: inherit;
      margin-bottom:0;
      width: 100%;
    }

  }
}

.crad.item {
  position: relative;
  display: flex;
  align-items: center;
  .avatar {
    overflow: hidden;
    display: inline-block!important;
    flex: 1;
    opacity: .5;
    img {
      height: 2.5em;
      width: 2.5em;
      max-width: 2.5em;
      margin-right: 10px;
      transform: scale(2.5) translateY(6px);
    }
  }
  .content {
    flex: 2;
    display: inline-block!important;
  }
  .quantity {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%) translateX(-50%);
    color:white;
    text-shadow: 1px 1px 1px black;
  }
}

.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  @include respond-to(mobile) { justify-content: center; }
  .type {
    // flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 270px;
    margin-right: 1rem;
    .divider {
      align-self: flex-end;
      display: block;
      width: 100%;
      margin-top: auto;
    }
  }
}