%site-element {
  // padding: {
  //   left: 2rem;
  //   right: 3rem;
  // }
  margin-left: $body-spacing!important;
  width: inherit!important;
  flex-grow: 100%;
}

.sitewide-navigation.ui.vertical.menu {
  flex: 3; 
  display: none;
  height: $body-height;
  margin-bottom: 0;
  border-radius: 0px;
  overflow-y: scroll; // has to be scroll, not auto
  -webkit-overflow-scrolling: touch;
  margin-top: -2rem;
  margin-left: 0px!important;
  padding-top: 1rem;
  background: linear-gradient(to right, #262632, lighten(#262632, 5));
  color: white;
  * {
    color: white;
  }
  a.item {
    color: white;
    &:hover {
      color: white!important;
    }
  }
  @include respond-to(mobile) {
    display: block;
    position: absolute;
    width: 80%!important;
    top: 0px;
    margin-top: 0px;
    right: -100%;
    transform: translate3d(0,0,0);
    transition: all .25s ease;
    height: 100vh;
    z-index: 10;
    &.active {
      right: 0px;
      transform: translate3d(0,0,0);
    }
    .item {
      font-size: 1.3rem;
      .menu .item.item.item {
        font-size: 1.1rem;
        line-height: 1.4;
      }
    }
  }
  @extend %site-element;
}

.site-scaffold {
  display: flex;
}

.sitewide-body {
  flex: 9;
  margin-right: $body-spacing!important;
  background: white;
  box-shadow: 0px 0px 0px 1px rgba(39, 41, 43, 0.15), 0px 1px 2px 0 rgba(0, 0, 0, 0.05);
  padding: 1rem;
  @extend %site-element;

  &.homepage {
    margin: {
      right: 0px!important;
      left:  0px!important;   
      top:   -2rem;   
    }
    box-shadow: none;
    padding: 0;
    background: transparent;
  }
  // &.active {
  //   filter: blur(20px);
  // }
}