.sitewide-header {
  height: $header-height;
  padding: 0 $body-spacing;
  margin-bottom: 2rem;
  background: rgba(255,255,255,0.95);
  box-shadow: 0px 1px 0px 0px rgba(83,69,64,0.16),0px 1px 2px 0px rgba(0,0,0,0.1);
  position: relative;
  z-index: 1;
  @include respond-to(mobile) { 
    padding: 0 $body-spacing*2;
    .crad-logo {
      margin: 0px auto;
      // flex: 1;
    }
    .logo-title {
      display: none;
    }
  }
  .navigate-site {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

.navigate-site .menu {
  // align-self: flex-end;
  // justify-self: flex-end;
  margin-left: auto!important;
  margin-top: 0px!important;

}

.ui.secondary.menu .dropdown.item .menu.menu {
  min-width: 100%;
  left: -50%;
}

.crad-logo {
  display: inline-block;
  $logo-height: 50px;
  $logo-width: $logo-height;

  width:  $logo-width;
  height: $logo-height;

  border-radius: $logo-width;

  background: $header-teal;

  color: white;

  position: relative;
  &:before {
    // this is the crad! 
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%, 0);

    color: white;
    width: $logo-width - 25;
    height: $logo-height - 15;
    content: "";
    display: block;
    border: {
      top:    2px;
      left:   1px;
      right:  1px;
      bottom: 3px;
      style:  solid;
      color:  white;
      radius: 2px;
    }
  }
  &:after {
    position: absolute;
    transform: translate3d(-50%, 0, 0);
    left: 50%;
    bottom: 10px;
    content: "CRAD";
    font-size: 8px;
    text-align: center;
    width: $logo-width - 25;
    border-top: 1px solid white;
    line-height: 1.5;
    background: white;
    color: $header-teal;
  }
}

.logo-title {
  font-size: 1.75rem;
  margin: 0px 1rem;
  color: $header-teal;
  .subtitle {
    font: {
      size: 1rem;
      weight: 100;
    }
  }
}

$bar-width:   20px;
$bar-height:  3px;
$bar-spacing: 7px;

@include respond-to(mobile) {
  .navigate-site .menu {
    display: none;
  }
  %bar {
    display:  block;
    content:  "";
    width:    $bar-width;
    height:   $bar-height;
    background: #ccc;
    // margin-bottom: 10px;
    border: {
      radius: $bar-height/2;
    }

    transition: all .25s ease;
  }
  .menu-toggle {
    // we are going to draw the hamburger
    @extend %bar;
    position: relative;
    margin-right: 10px;
    &.active {
      background: transparent;
      // transform: rotate(45deg) translate3d(0,0,0);  
      &:before, &:after {
        top: 0px;
      }
      &:before {
        transform: rotate(45deg) translate3d(0,0,0);
      }
      &:after {
        transform: rotate(-45deg) translate3d(0,0,0);
        
      }
    }
    &:before, &:after {
      transform: rotate(0deg)  translate3d(0,0,0);

    }
    &:before {
      @extend %bar;
      position: absolute;
      top: $bar-spacing;
    }
    &:after {
      @extend %bar;
      bottom: $bar-spacing;
      position: absolute;
    }
  }
  .placeholder-toggle {
    display: block;
    width: $bar-width;
  }
}
