<h2 class="page-name ui dividing header">{{deck.name}} <i class="circular inverted teal edit icon edit-button" ng-click="startEditing()"></i></h2>
<div class="ui icon buttons" ng-show="!editing">
  <div class="ui button" ng-class="{active: isActive('block')}" ng-click="active = 'block';"><i class="icon block layout"></i></div>
  <div class="ui button" ng-class="{active: isActive('list')}" ng-click="active = 'list';"><i class="icon list layout"></i></div>
  <div class="ui button" ng-class="{active: isActive('column')}" ng-click="active = 'column';"><i class="icon columns"></i></div>
</div>

<section class="ui" ng-class="{cards: isActive('block'), 'very relaxed list': isActive('list')}" ng-hide="isActive('column');" ng-show="!editing" >
  <div class="crad" ng-class="{card: isActive('block'), 'item': isActive('list')}" ng-repeat="crad in deck.crads track by $index">
    <div ng-class="{'image crad-image-holder': isActive('block'), 'ui avatar image': isActive('list')}"><img ng-src="http://mtgimage.com/card/{{crad.name}}.crop.jpg" alt=""></div>
    <div class="content">
      <p class="header">{{crad.name}}</p>
      <div class="meta">
        {{crad.cradData.type}}
      </div>
      <div class="description" ng-show="isActive('block')">
        {{crad.cradData.text}}
        
      </div>
    </div>
    <div class="extra content">
      <p class="quantity">{{crad.quantity}} <span ng-show="isActive('block')">in deck </span></p>
    </div>
  </div>
</section>

<section class="columns" ng-show="isActive('column')" ng-hide="editing">
  <div class="type" ng-repeat="(key, crads) in types">
    <h3> {{key}} {{crads.length}} </h3>
    <section class="ui very relaxed list">
      <div class="crad item" ng-repeat="crad in crads">
        <div class="ui avatar image"><img ng-src="http://mtgimage.com/card/{{crad.name}}.jpg" alt=""></div>
        <div class="content">
          <p class="header">{{crad.name}}</p>
          <div class="meta">
            {{crad.cradData.type}}
          </div>
        </div>
        <div class="extra content">
          <p class="quantity">{{crad.quantity}}</p>
        </div>
      </div>
    </section>
    <div class="ui divider"></div>
  </div>
</section>