<aside>
  <nav class="account-nav logged-in" ng-if="loggedIn">
    <div class="item">
      <i class="user icon"></i>Account
      <div class="menu">
        <a class="nav-to item" data-ng-href="/app/account" ng-class="{active: isActive('/app/account')}"  >My Account <i class="angle right icon"></i></a>

        <a class="nav-to item" ng-click="logOut()">Log Out</a>
      </div>
    </div>
    
  </nav>
  <nav class="account-nav logged-out" ng-if="!loggedIn">
    <a class="nav-to item" data-ng-href="/app/login" ng-class="{active: isActive('/app/login')}" >Log In <i class="angle right icon"></i>
    </a>
  </nav>

  <nav class="deck-nav" ng-if="loggedIn">
    <div class="item">
      <i class="icon grid layout"></i> My Decks
      <div class="menu">
        <a ng-href="/app/decks/{{deck.id}}" class="deck item" ng-repeat="deck in user.decks">{{deck.name}}<i class="angle right icon"></i></a>
      </div>
      <a class="ui teal basic button center"><i class="icon add"></i> Add Deck</a>
    </div>
  </nav>
</aside>