<h2 class="page-name ui dividing header">Make a New Deck</h2>
<section class="editing-the-crads">
  <form novalidate
      class=     "new-deck ui form" 
      name=      "newDeck"  
      ng-submit= "saveDeck()"
      accessible-form>
    <section class="two required fields">
      <div class="input-wrapper field">
        <label for="name">Deck Name</label>
        <input 
          type=    "text" 
          id=      "deck.name" 
          name=    "deck.name" 
          ng-model="deck.name"
          min=     "5"
        >
      </div>  
      <div class="input-wrapper field">
        <label for="format">Format</label>
        <select name="format" ng-model="deck.format" id="format">
          <option value="legacy">Legacy</option>
          <option value="commander">Commander</option>
          <option value="cradmander">Cradmander</option>
          <option value="standard">Standard</option>
          <option value="modern">Modern</option>
          <option value="vintage">Vintage</option>
        </select>
      </div>    
    </section>
    <section class="one required fields">
      <div class="input-wrapper field">
        <label for="description">Description</label>
        <textarea name="description" id="description" ng-model="deck.description" cols="30" rows="10"></textarea>
      </div>
    </section>
    <input type="submit" value="SAVE ME" class="ui button blue" ng-class="{disabled: !admin}">
    {{deck.name}} {{deck.format}} {{deck.description}}
  </form>
</section>    