<header class="sitewide-header">
  <nav class="navigate-site">
      <i class="menu-toggle" ng-class="{'active': active}" ng-click="toggleHeader()"></i>
      <i class="crad-logo">
      </i>
      <h1 class="logo-title">
        Crad.io
        <p class="subtitle">The place for crads</p>
      </h1>
      <i class="placeholder-toggle"></i>
      <div class="ui secondary pointing menu blue">
        <a class="item" ng-class="{'active': isActive('/')}" ng-href="/">
          <i class="home icon"></i> Home
        </a>
        <div class="ui pointing dropdown link item"  
             ng-class="{'active': activeDropdown('deck'), 'also active': isActive('deck')}" 
             style="opacity:1;" 
             ng-show="loggedIn"
        >
          <span ng-click="toggleDropdown('deck')"> <i class="layout grid icon"></i> Decks <i class="dropdown icon"></i></span>
          <div class="menu" ng-class="{'visible transition': activeDropdown('deck')}">
            <div class="header">Decks</div>
            <a class="item" ng-repeat="deck in user.decks" ng-href="/app/decks/{{user.username}}/{{deck.name}}">{{deck.name}} <i class="angle right icon"></i></a>
            <div class="divider"></div>
            <div class="item">
              <div class="spacer">
                <a href="/app/decks/user.username/new" class="ui inverted positive button add-new center large"><i class="icon plus"></i> Add Deck</a>              
              </div>
            </div>
          </div>
        </div>
        <div class="ui pointing dropdown link item"
             ng-class="{'active': activeDropdown('account'), 'also active': isActive('account')}" 
             style="opacity:1;" 
        >
            <span ng-click="toggleDropdown('account')"><i class="user icon"></i> Account <i class="dropdown icon"></i></span>
            <div class="menu" ng-class="{'visible transition': activeDropdown('account')}" ng-if="loggedIn">
              <div class="header">Account</div>
              <a class="nav-to item" data-ng-href="/app/account/{{user.username}}" ng-class="{active: isActive('/app/account/{{user.username}}')}"  >My Account <i class="angle right icon"></i></a>

              <a class="nav-to item" ng-click="logOut()">Log Out<i class="angle right icon"></i></a>
            </div>
            <div class="menu" ng-class="{'visible transition': activeDropdown('account')}" ng-if="!loggedIn">
              <div class="header">Account</div>
              <a class="nav-to item" data-ng-href="/app/account/{{user.username}}" ng-class="{active: isActive('/app/account/{{user.username}}')}"  >Log In <i class="angle right icon"></i></a>

              <a class="nav-to item" ng-click="logOut()">Register<i class="angle right icon"></i></a>
            </div>
          </div>
        </div>
      </div>
  </nav>
</header>